# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# MYSQL CREDENTIALS
MYSQL_USERNAME = "USER"
MYSQL_PASSWORD = "PASSWORD"
MYSQL_HOST = "cloud.mysql.example.com"
MYSQL_PORT = "3306"
MYSQL_DATABASE = "ecommerce"

# POSTGRES CREDENTIALS
POSTGRES_USERNAME = "USER"
POSTGRES_PASSWORD = "PASSWORD"
POSTGRES_HOST = "cloud.postgres.example.com"
POSTGRES_PORT = "5432"
POSTGRES_DATABASE = "ecommerce"

# MONGODB CREDENTIALS
MONGODB_USERNAME = "USER"
MONGODB_PASSWORD = "PASSWORD"
MONGODB_HOST = "cloud.mongodb.example.com"
MONGODB_PORT = "27017"
MONGODB_DATABASE = "ecommerce"

DATABASE_URL_MYSQL="mysql://{$MYSQL_USERNAME}:{$MYSQL_PASSWORD}{@$MYSQL_HOST}:{$MYSQL_PORT}/{$MYSQL_DATABASE}?sslaccept=strict"
DATABASE_URL_MONGODB="mongodb+srv://{$MONGODB_USERNAME}:{$MONGODB_PASSWORD}@{$MONGODB_HOST}/{$MONGODB_DATABASE}"
DATABASE_URL_POSTGRES="postgresql://{$POSTGRES_USERNAME}:{$POSTGRES_PASSWORD}@{$POSTGRES_HOST}:{$POSTGRES_PORT}/{$POSTGRES_DATABASE}"

#NEXT-AUTH
NEXTAUTH_URL = "http://localhost:3000/api/v1/auth"
NEXTAUTH_SECRET = "CHANGE_ME_1234567890987654321098765432120987654321098765432112345678900987654321qwertyuiopasdfghjklzxcvbnm"